body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  color: hsl(234, 12%, 34%);
}

h2 {
  color: hsl(234, 12%, 34%);
}

.image {
  position: relative;
  left: 230px;
  top: 20px;
}

.first-head {
  font-weight: 300;
  color: hsl(229, 6%, 66%);
  margin-bottom: 0;
}

.second-head {
  margin-top: 0;
}

.rest-paras {
  font-weight: 200;
}

.container-1 {
  text-align: center;
}

.container-2 {
  position: relative;
  margin-top: 60px;
}

.first-para {
  width: 40%;
  margin: auto;
  font-weight: 200;
}

.first-box {
  border-radius: 2%;
  position: absolute;
  right: 451.5px;
  border-top: 5px solid hsl(0, 78%, 62%);
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
  height: 250px;
  box-shadow: 0px 4px 8px 0px hsl(229, 6%, 66%);
}

.second-box {
  border-radius: 2%;
  position: absolute;
  right: 60px;
  top: 150px;
  border-top: 5px solid hsl(212, 86%, 64%);
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
  height: 250px;
  box-shadow: 0px 4px 8px 0px hsl(229, 6%, 66%);
}

.third-box {
  border-radius: 2%;
  position: absolute;
  top: 290px;
  right: 451.5px;
  border-top: 5px solid hsl(34, 97%, 64%);
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
  height: 250px;
  box-shadow: 0px 4px 8px 0px hsl(229, 6%, 66%);
}

.fourth-box {
  border-radius: 2%;
  position: absolute;
  left: 60px;
  top: 150px;
  border-top: 5px solid hsl(180, 62%, 55%);
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
  height: 250px;
  box-shadow: 0px 4px 8px 0px hsl(229, 6%, 66%);
}
